.sidebar-wrapper {
    position: absolute;
    top:27px;
    z-index:100;
    }

.sidebar-contents {
    width:300px;
    background-color: #B7E2FF;
    }
    .sidebar-contents .block {  
        padding: 4px;
        }

#first-sidebar {
    left:-300px;
    }

.first-sidebar-open {
    left:0px!important;
    }

#first-sidebar-handle {
    float: right;
    padding:40px 0px;
    background-color: #B7E2FF;
    -moz-border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    border-right:1px solid #A7D6FF;
    }

#first-sidebar .sidebar-contents {
    float: first;
    -moz-border-radius-bottomright: 4px;
    }



#second-sidebar {
    right:-300px;
    }

.second-sidebar-open {
    right:0px!important;
    }

#second-sidebar-handle {
    float: left;
    padding:40px 0px;
    background-color: #B7E2FF;
    -moz-border-radius: 4px 0px 0px 4px;
    cursor: pointer;
    border-left: 1px solid #A7D6FF;
    }

#second-sidebar .sidebar-contents {
    float: right;
    -moz-border-radius-bottomleft: 4px;
    }
